@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.ts";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --bg-primary: #0F111A;
    --bg-secondary: #A4C2F4;
    --text-primary: #A4C2F4;
    --text-secondary: #E8E8E8;
    --accent-color: #4e89f5;
    --bg-hover: #1A1D28;
    --border-color: #2e3344;
    --bg-comment: #151821;
}

@theme {
    --color-hipe-1: #A4C2F4;
    --color-hipe-2: #E8E8E8;
    --color-hipe-3: #4e89f5;
    --color-hipe-s1:  #0F111A;
    --color-hipe-s2:  #A4C2F4;
    --color-hipe-s3: #1A1D28;
    --color-hipe-s4: #151821;
    --color-hipe-s5: #2e3344;
}


html, body, #app {
    width: 100%;
    height: 100%;
}

.material-symbols-outlined {
    font-weight: normal;
    font-style: normal;
    font-size: 32px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
